// Navigation code here
nav {
    //border:solid;
    display:flex;
    padding: 10px 20px 10px 20px;
    justify-content: center;
a{
    //border:dashed;
    display:flex;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: @main-font-color;
    
    }
}